<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Proxy">
                    <match url="^api/(.*)" />
                    <action type="Rewrite" url="http://devity-api.local/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
